version: "3.7"

x-logging:
  &default-logging
  driver: journald
  options:
    tag: "umbrel-app {{.Name}}"

services:
  node:
    # image: mhoekstra/go-ipfs:v0.7.0
    image: ipfs/go-ipfs:latest
    logging: *default-logging
    restart: on-failure
    stop_grace_period: 1m
    ports:
      - "$APP_IPFS_SWARM_PORT:$APP_IPFS_SWARM_PORT"
      - "127.0.0.1:$APP_IPFS_LOCAL_GATEWAY_PORT:8080"
      - "127.0.0.1:$APP_IPFS_WEBSOCKET_LISTENER_PORT:8081"
      - "127.0.0.1:$APP_IPFS_API_SERVER_PORT:5001"
    volumes:
      - ${APP_DATA_DIR}/data:/data/ipfs
    networks:
      default:
        ipv4_address: $APP_IPFS_IP
